@model MvcCrudApplication.Models.AddEmployeeViewModel

@{
}
<div class="container">
    <h1>Add Employee</h1>
    <form method="post" action="Add" class="mt-5" as>
        <div class="mb-3">
            <label for=" " class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for=" " class="form-label">Email Address</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="mb-3">
            <label for=" " class="">Salary</label>
            <input type="number" class="form-control" asp-for="Salary">
        </div>
        <div class="mb-3">
            <label for=" " class="">Date of Birth</label>
            <input type="date" class="form-control" asp-for="DateOfBirth">
        </div>
        <div class="mb-3">
            <label for=" " class="">Daprtment</label>
            <input type="text" class="form-control" asp-for="Department">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>